.flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.header-main {
    color: #323843;
    font-size: 1.5rem;
    margin: 10px;
}

.header-sub {
    color: #9ba0ab;
    font-size: 1.0rem;
    font-weight: 400;
}

.form-header-main {
    font-size: 2.0rem;
    font-weight: 600;
    color: #151B28;
    display: block;
    margin: 10px 0px;
}

.complete-image {
    margin-top: 30px;
}