.form-parent {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.form-div {
    /* background-color: green; */
    min-width: 500px;
    min-height: 800px;
}

.flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.step-container {
    /* min-width: 100px; */
    position: relative;
}

.progress-bar {
    width: 350px;
}

.step {
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.progress-step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #664DE5;
    will-change: width;
    z-index: -1;
}

.step-container::before {
    display: block;
    position: absolute;
    top: 50%;
    left: -83%;
    width: 40px;
    border-bottom: thin solid #664DE5;
    content: "";
    /* z-index: -1; */
}


.step-container::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 65%;
    width: 50px;
    border-bottom: thin solid #664DE5;
    content: "";
    /* z-index: -1; */
}

.step-container:last-child:after {
    width: 0;
}

.step-container:first-child:before {
    width: 0;
}

.flex-row {
    flex-direction: row;
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.mt80 {
    margin-top: 70px;
}

.input-primary {
    height: 30px;
    width: 400px;
    border-radius: 6px;
    border: thin solid #d3d3d3ad;
    padding: 10px;
    font-size: 1rem;
    color: #364259;
}

.field-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field-div>label {
    font-size: 1rem;
    color: #364259;
}

.form-button {
    height: 50px;
    width: 400px;
    border-radius: 6px;
    padding: 10px;
    border: none;
    background-color: #664DE5;
    color: white;
}

.plan-radio {
    visibility: hidden;
}

.plan-option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 150px;
    height: 150px;
    border: thin solid #d3d3d3ad;
    padding: 20px;
    border-radius: 7px;
}

.plan-option {
    text-align: initial;
}

h4 {
    margin: 0;
}

.user-icon {
    width: 20px;
}

.fixed-url {
    width: 150px;
    font-size: 1rem;
    background-color: #F8F9FC;
    padding: 15px;
    border: thin solid #d3d3d3ad;
}

.url-input {}